
@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Crete+Round:ital@0;1&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Great+Vibes&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Pacifico&family=Playwrite+IT+Moderna:wght@100..400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cairo', sans-serif;
}

body {
    background: linear-gradient(to bottom, #800020, #F8F4E3);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: #F8F4E3;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 350px;
}

.container img {
    width: 100px;
}
.container h1{
  font-family: 'Great Vibes', serif;
  color: #D4AF37;
  font-size: 30px;
  margin: 5PX;
}

h2 {
    font-size: 18px;
    color: #333;
}

input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: right;
}

button {
    width: 100%;
    padding: 10px;
    background: #800020;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: #D4AF37;
}

.link {
    display: block;
    margin-top: 10px;
    color: #800020;
    text-decoration: none;
    font-size: 14px;
}

.link:hover {
    text-decoration: underline;
}